<%= form_for Sample.new, url: samples_path do |f| %>

  <p>
    <%= f.label :no_defaults_not_set, "no defaults and not set" %><br/>
    <%= f.select_recurring :no_defaults_not_set %>
  </p>

  <p>
    <%= f.label :no_defaults_with_custom, "no defaults but custom rule" %><br/>
    <%= f.select_recurring :no_defaults_with_custom %>
  </p>

  <p>
    <%= f.label :with_defaults_not_set, "defaults but not set" %><br/>
    <%= f.select_recurring :with_defaults_not_set, [
      IceCube::Rule.weekly(2).day(:monday, :wednesday, :friday),
      IceCube::Rule.monthly.day_of_month(-1),
      IceCube::Rule.yearly.day_of_year(1)
    ] %>
  </p>

  <p>
    <%= f.label :with_defaults_and_set, "default and set" %><br/>
    <%= f.select_recurring :with_defaults_and_set, [
      IceCube::Rule.weekly.day(:monday, :wednesday, :friday),
      IceCube::Rule.monthly.day_of_month(-1)
    ], allow_blank: true %>
  </p>

  <p>
    <%= f.label :with_defaults_and_custom, "defaults and custom" %><br/>
    <%= f.select_recurring :with_defaults_and_custom, [
      IceCube::Rule.weekly.day(:monday, :wednesday, :friday),
      IceCube::Rule.monthly.day_of_month(-1)
    ] %>
  </p>

  <p>
    <%= f.label :non_recurring_with_defaults, "default with custom non-recurring rule" %><br/>
    <%= f.select_recurring :non_recurring_with_defaults, [
      ["Custom non-blank option", 1],
      IceCube::Rule.monthly.day_of_month(-1)
    ], allow_blank: true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
